header {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

header {
  background-color: #1a1a1a;
  color: #ffffff;
}

/* header nav {
  background-color: #1a1a1a;
} */

header h1 {
  color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
header nav a {
  text-decoration: none;
}
