nav {
  background-color: #1a1a1a;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
}

.nav-home {
  list-style: none;
  padding: 0;
}

.nav-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin-left: auto;
  padding: 0;
}

nav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 15px 0 15px;
}

nav a:hover {
  background: #ddd;
  color: #f2f2f2;
  transition-duration: 500ms;
}

/* Main content */
main {
  margin-top: 78px; /* Add a top margin to avoid content overlay */
}
