header {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

header nav {
  background-color: blanchedalmond;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
header nav a {
  text-decoration: none;
}
