body {
  margin: 0;
}

.banner {
  padding: 60px;
  text-align: center;
  background: #1a1a1a;
  color: #f2f2f2;
  font-size: 30px;
  width: auto;
}

.grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

figure {
  margin: 0;
}

#landing-img {
  width: 50vw;
  padding: 0;
  margin: 0;
}

.column-img {
  width: 46vw;
  margin: 2vw 0 0 0;
  padding-left: 2vw;
  padding-right: 2vw;
}

#divider-img {
  width: 80%;
  margin: 2vw 0 0 0;
  padding: 0 10% 0 10%;
}

.landing-txt {
  width: 30vw;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10vw;
  padding-right: 10vw;
}

.column-txt {
  width: 40vw;
  margin-top: auto;
  margin-bottom: auto;
}

.column-left {
  padding-left: 10%;
  padding-right: 5%;
}

.column-right {
  padding-left: 5%;
  padding-right: 10%;
}

.wide-txt {
  width: 90%;
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding-left: 5%;
  padding-right: 5%;
}

.block-element {
  background-color: #e6e6e6;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-left: 2vw;
  margin-right: 2vw;
}
