body {
  margin: 0;
}

.banner {
  padding: 60px;
  text-align: center;
  background: #3a3a31;
  color: white;
  font-size: 30px;
}

.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
figure {
  margin: 0;
}
img {
  width: 50vw;
  padding: 0;
  margin: 0;
}

.landing-txt {
  width: 30vw;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10vw;
  padding-right: 10vw;
}
